.minimal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 1rem;
  background-color: white;
  width: fit-content;
  height: fit-content;
  width: 25%;
  border-radius: 8px;

  &__date {
    text-align: center;
  }
}

.minimalcard {
  display: flex;
  gap: 1rem;

  &__date {
    font-size: 1rem;
    color: #818181;
    margin-bottom: 0.5rem;
  }
  &__temp-data {
    text-align: center;
    font-weight: bold;
  }
}
