.minimal-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 1rem;
  background-color: white;
  width: fit-content;
  height: fit-content;
  width: 25%;
  border-radius: 8px;

  &__date {
    text-align: center;
  }
}
