.sidebar {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
  background-color: #2c425e;
  color: white !important;

  &__option {
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;
  }

  &__search {
    display: flex;
    margin-bottom: 3rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
